<!DOCTYPE html>

{% load static %}

<html>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <body>
        <form method="post">
            <div>
            {% csrf_token %}

            {% if messages %}
                <div>
                    {% for message in messages %}
                    {{ message }}
                    {% endfor %}
                </div>
            {% endif %}

            <div>
                {% include 'base_templates/logo.html'%}
                <h3>Login:</h3>
                <input type="text" name="username" placeholder="Enter username" required>

                <h3>Password:</h3>
                <input type="text" name="password" placeholder="Enter password" required>

                <button type="submit">Login</button>
            </div>
        </div>
        </form>
    </body>
</html>